<h1>Seja bem-vinda, <%=@name%>! Você está em ambiente de <%= environment_rails %></h1>

<%# ERB e Helper criado %>
<%= render "navbar" %>
<%# redirecionamento simples com href %>
<%# <ul>
    <li>
        <a href="/coins">Cadastre suas Moedas</a>
    </li>
</ul> %>
<%# redirecionamento "gerenciando rotas" com helper link_to do on rails %>
<ul>
    <li>
        <%= link_to "Moedas", coins_path%>
    </li>
     <li>
        <%= link_to "Tipos de Mineração", mining_types_path%>
    </li>
</ul>

<%# testando ERB %>
<% l = "Alana"%>
<p>Seu nome inervitido é: <%= l.reverse %></p>

